@import 'tailwindcss';
@import './theme.css';

@layer base {
  html,
  body {
    @apply font-inter h-full;
  }

  img {
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
  }

  button {
    cursor: pointer;
  }
}
