@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
}

@layer base {
  html,
  body {
    @apply font-inter h-full;
  }

  img {
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
  }

  button {
    cursor: pointer;
  }
}
